---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: apis.hub.traefik.io
spec:
  group: hub.traefik.io
  names:
    kind: API
    listKind: APIList
    plural: apis
    singular: api
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.pathPrefix
      name: PathPrefix
      type: string
    - jsonPath: .spec.service.name
      name: ServiceName
      type: string
    - jsonPath: .spec.service.port.number
      name: ServicePort
      type: string
    - jsonPath: .spec.currentVersion
      name: CurrentVersion
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: API defines an API exposed within a portal.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: The desired behavior of this API.
            properties:
              cors:
                description: CORS configures Cross-origin resource sharing headers.
                properties:
                  allowCredentials:
                    description: AllowCredentials defines whether the request can
                      include user credentials.
                    type: boolean
                  allowHeaders:
                    description: AllowHeaders defines the Access-Control-Request-Headers
                      values sent in preflight response.
                    items:
                      type: string
                    type: array
                  allowMethods:
                    description: AllowMethods defines the Access-Control-Request-Method
                      values sent in preflight response.
                    items:
                      type: string
                    type: array
                  allowOriginList:
                    description: AllowOriginList is a list of allowable origins. Can
                      also be a wildcard origin "*".
                    items:
                      type: string
                    type: array
                  allowOriginListRegex:
                    description: AllowOriginListRegex is a list of allowable origins
                      written following the Regular Expression syntax (https://golang.org/pkg/regexp/).
                    items:
                      type: string
                    type: array
                  exposeHeaders:
                    description: ExposeHeaders defines the Access-Control-Expose-Headers
                      values sent in preflight response.
                    items:
                      type: string
                    type: array
                  maxAge:
                    description: MaxAge defines the time that a preflight request
                      may be cached.
                    format: int64
                    type: integer
                type: object
              currentVersion:
                description: CurrentVersion defines the current APIVersion.
                type: string
              headers:
                description: Headers manipulates HTTP request and response headers.
                properties:
                  request:
                    description: Request configures the request headers.
                    properties:
                      delete:
                        description: Delete deletes headers.
                        items:
                          type: string
                        type: array
                      set:
                        additionalProperties:
                          type: string
                        description: Set sets the value of headers
                        type: object
                    type: object
                  response:
                    description: Response configures the response headers.
                    properties:
                      delete:
                        description: Delete deletes headers.
                        items:
                          type: string
                        type: array
                      set:
                        additionalProperties:
                          type: string
                        description: Set sets the value of headers
                        type: object
                    type: object
                type: object
              pathPrefix:
                description: PathPrefix is the path prefix under which the service
                  will be exposed.
                maxLength: 255
                type: string
                x-kubernetes-validations:
                - message: must start with a '/'
                  rule: self.startsWith('/')
                - message: cannot contains '../'
                  rule: '!self.matches(r"""(\/\.\.\/)|(\/\.\.$)""")'
              service:
                description: Service defines the backend handling the incoming traffic.
                properties:
                  name:
                    description: Name is the name of the Kubernetes Service. The Service
                      must be in the same namespace as the API.
                    type: string
                  openApiSpec:
                    description: OpenAPISpec defines where to obtain the OpenAPI specification
                      of the Service.
                    properties:
                      path:
                        description: Path is the path on the Kubernetes Service for
                          obtaining the specification. This Path must be queryable
                          with a GET method and serve a YAML or JSON document.
                        maxLength: 255
                        type: string
                        x-kubernetes-validations:
                        - message: must start with a '/'
                          rule: self.startsWith('/')
                        - message: cannot contains '../'
                          rule: '!self.matches(r"""(\/\.\.\/)|(\/\.\.$)""")'
                      port:
                        description: APIServiceBackendPort references a port on a
                          Kubernetes Service.
                        properties:
                          name:
                            description: Name is the name of the port on the Kubernetes
                              Service. This must be an IANA_SVC_NAME (following RFC6335).
                              This is a mutually exclusive setting with "Number".
                            type: string
                          number:
                            description: Number is the numerical port number (e.g.
                              80) on the Kubernetes Service. This is a mutually exclusive
                              setting with "Path".
                            format: int32
                            type: integer
                        type: object
                      protocol:
                        type: string
                      url:
                        description: URL is a Traefik Hub agent accessible URL for
                          obtaining the specification. This URL must be queryable
                          with a GET method and serve a YAML or JSON document.
                        type: string
                        x-kubernetes-validations:
                        - message: must be a valid URL
                          rule: isURL(self)
                    type: object
                    x-kubernetes-validations:
                    - message: path or url must be defined
                      rule: has(self.path) || has(self.url)
                  port:
                    description: Port of the referenced service. A port name or port
                      number is required for an APIServiceBackendPort.
                    properties:
                      name:
                        description: Name is the name of the port on the Kubernetes
                          Service. This must be an IANA_SVC_NAME (following RFC6335).
                          This is a mutually exclusive setting with "Number".
                        type: string
                      number:
                        description: Number is the numerical port number (e.g. 80)
                          on the Kubernetes Service. This is a mutually exclusive
                          setting with "Path".
                        format: int32
                        type: integer
                    type: object
                required:
                - name
                - openApiSpec
                - port
                type: object
            required:
            - pathPrefix
            type: object
            x-kubernetes-validations:
            - message: currentVersion or service must be defined
              rule: has(self.currentVersion) || has(self.service)
            - message: currentVersion and service are mutually exclusive
              rule: '!has(self.currentVersion) || !has(self.service)'
            - message: currentVersion and cors are mutually exclusive
              rule: '!has(self.currentVersion) || !has(self.cors)'
            - message: currentVersion and headers are mutually exclusive
              rule: '!has(self.currentVersion) || !has(self.headers)'
          status:
            description: The current status of this API.
            properties:
              hash:
                description: Hash is a hash representing the API.
                type: string
              syncedAt:
                format: date-time
                type: string
              version:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
